.homepage-section1 {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}
.furniture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg-home {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
.splide__pagination {
  bottom: 10% !important;
  right: 75% !important;
}
.splide__pagination__page.is-active {
  background: #6e8a71 !important;
  width: 30px !important;
  border-radius: 10px !important;
}
.splide__pagination__page {
  background: #5b6255 !important;
  margin: 6px !important;
  opacity: 1 !important;
  height: 12px !important;
  width: 12px !important;
}
.abs-div-home {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
}
.text-div-home {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 1.2rem 0rem;
}
.text-div-home h2 {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 4px;
}
.text-div-home h1 {
  font-size: 3.1rem;
  letter-spacing: 3px;
  font-weight: 800;
}
.explore {
  padding: 25px 0px;
  width: 280px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.explore:hover {
  background-color: white;
  color: black;
  font-weight: 500;
}
/* section 2 ----------------- */
.homepage-section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1530px;
  max-width: 1530px;
  max-height: 830px;
  gap: 2rem;
  margin-top: 3rem;
}
.left-section2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: auto;
  border: 1px solid #8a8a8a;
  gap: 30px;
  padding-bottom: 40px;
}
.left-section2 h1 {
  padding-left: 1.5rem;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
.left-section2 p {
  padding-left: 1.5rem;
  font-size: 1.2rem;
  width: 85%;
  font-weight: normal;
}
.discover {
  margin-left: 1.5rem;
  width: 250px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  border: 2px solid grey;
}
.discover:hover {
  background-color: black;
  color: white;
  border-color: white;
}
.left-section2 img {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}
.right-section2 {
  max-height: 830px;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 2rem 0rem;
}
.right-section2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-section2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.heading-circle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}
.circles {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.circle1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #7d714d;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: flex-end;
}
.circle2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #cdbd79;
  grid-column: 2/3;
  justify-self: flex-start;
  align-self: flex-end;
  grid-row: 2/3;
}
.heading-circle h1 {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
.right-desc-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
}
.left-desc,
.right-desc {
  flex: 0.5;
}
.right-desc-div img {
  max-width: 100%;
  object-fit: contain;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.desc h2 {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.desc p {
  font-size: 1rem;
  line-height: 1.5;
}
.desc .discover {
  margin: 0;
}
/* end section 2 --------------------- */
/* responsive part -------------------- */
@media screen and (max-width: 1530px) {
  .homepage-section2 {
    width: 100%;
    padding-inline: 1rem;
  }
  .right-desc-div {
    gap: 20px;
  }
}
@media screen and (max-width: 1284px) {
  .homepage-section1 {
    overflow-y: visible;
  }

  .splide__pagination {
    bottom: 7% !important;
    right: 60% !important;
    width: max-content !important;
  }
}
@media screen and (max-width: 1240px) {
  .homepage-section2 {
    flex-direction: column;
    width: 836px;
    max-height: none;
  }
  .right-section2 {
    max-height: none;
    overflow-y: visible;
    gap: 40px;
  }
  .right-section2::-webkit-scrollbar {
    display: block;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .right-section2 {
    -ms-overflow-style: initial; /* IE and Edge */
    scrollbar-width: initial; /* Firefox */
  }
}
@media screen and (max-width: 865px) {
  .homepage-section2 {
    flex-direction: column;
    width: 95%;
    max-height: none;
  }
  .heading-circle {
    padding: 0;
    justify-content: center;
  }
  .right-section2 {
    align-items: center;
  }
  .right-desc-div {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
  }
  .div2 .left-desc {
    order: 2;
  }
  .desc {
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
  }
}
@media screen and (max-width: 658px) {
  .text-div-home h2 {
    font-size: 1.3rem;
  }
  .text-div-home h1 {
    font-size: 2.5rem;
  }
  .right-desc-div {
    gap: 60px;
  }
}
@media screen and (max-width: 590px) {
  .homepage-section2 {
    width: 100%;
  }
  .heading-circle {
    gap: 20px;
  }
  .circle1 {
    width: 45px;
    height: 45px;
  }
  .circle2 {
    width: 25px;
    height: 25px;
  }
  .heading-circle h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 532px) {
  .text-div-home h2 {
    font-size: 1.1rem;
  }
  .text-div-home h1 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 448px) {
  .text-div-home h2 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .text-div-home h1 {
    font-size: 1.8rem;
  }
  .left-section2 h1 {
    font-size: 2rem;
  }
  .left-section2 p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 418px) {
  .heading-circle h1 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 400px) {
  .text-div-home h2 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .text-div-home h1 {
    font-size: 1.5rem;
  }
}
