.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  justify-self: center;
  position: relative;
}
.main-card:hover ~ .more-details,
.more-details:hover,
.card-wrapper:hover .more-details {
  opacity: 1;
  pointer-events: all;
}

.more-details {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  gap: 9px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}
.more-details p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.main-card:hover img {
  transform: scale(1.1);
}
.main-card:hover .new-item {
  opacity: 1;
  z-index: 5;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-card {
  width: 310px;
  background-color: white;
  display: grid;
  height: 350px;
  cursor: pointer;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-direction: column; */
  padding-bottom: 20px;
  gap: 30px;
  grid-template-columns: 1fr;
  position: relative;
  grid-template-rows: 30px 200px 1fr;
  overflow: hidden;
}
.new-item {
  background-color: #000000;
  color: #dbe5db;
  /* padding: 0px 16px; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  opacity: 0;
  justify-self: center;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  padding: 5px;
}
.main-card img {
  max-width: 310px;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.card-desc {
  color: rgba(0, 0, 0, 0.5);
  width: 90%;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.card-btn {
  padding: 17px 0px;
  width: 310px;
  background-color: #f0f0ef;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-align: center;
  text-decoration: none;
}
.card-btn:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #f0f0ef;
}
