.workspace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  margin-top: 170px;
}
.work-section1 {
  max-width: 1700px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  padding-right: 10%;
  position: relative;
}
.work-img-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.work-img-wrapper img {
  max-width: 100%;
  object-fit: contain;
}
.work-arrow {
  background-color: white;
  border-radius: 0%;
  font-size: 1rem;
  font-size: 9px !important;
  width: 44px !important;
  height: 44px !important;
}
.prev-work {
  left: 89%;
  bottom: 0;
  top: 96.2%;
}
.next-work {
  top: 96.2%;
  right: 0%;
}
.work-arrow-wrapper {
  bottom: 0;
  right: 0;
}
.work-section1 .splide__pagination {
  bottom: 2% !important;
  right: 3% !important;
}
.work-section1 .splide__pagination__page.is-active {
  background: white !important;
  width: 15px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}
.work-section1 .splide__pagination__page {
  background: white !important;
  margin: 6px !important;
  opacity: 0.7 !important;
  height: 15px !important;
  width: 15px !important;
}
.abs-work {
  position: absolute;
  left: 10%;
  color: white;
  background-color: black;
  width: 660px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem 5rem;
  flex-direction: column;
}
.abs-work h1 {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}
.work-line {
  align-self: center;
  background-color: white;
}
.abs-work p {
  font-size: 1.2rem;
  line-height: 1.6;
  width: 90%;
}
.abs-work .explore {
  padding: 15px 0px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 200px;
}
.margin-top {
  margin-top: 4rem;
}
/* work section 2 ---------------------------- */
.work-section2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 3rem 2rem;
  max-width: 1700px;
  gap: 2rem;
  min-height: 600px;
}
.work-section2 .work-img-wrapper {
  justify-content: center;
}
.work-section2 .prev-work {
  left: 88%;
  bottom: 0;
  top: 118%;
}
.work-section2 .next-work {
  bottom: 0;
  top: 118%;
  right: 3%;
}
.work-section2 .splide__pagination {
  bottom: -23% !important;
  left: 2%;
  right: 0% !important;
  width: max-content !important;
}
.work-section2 .splide__pagination__page.is-active {
  background: black !important;
  width: 15px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}
.work-section2 .splide__pagination__page {
  background: #f0f0ef !important;
  margin: 6px !important;
  opacity: 1 !important;
  height: 15px !important;
  width: 15px !important;
}
/* section 3 -------------------------------------- */
.work-section3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 8rem 3rem;
  max-width: 1700px;
}
.left-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}
.left-choose img {
  max-width: 100%;
  object-fit: contain;
}
.img-wrapper-choose {
  position: relative;
}
.img-wrapper-choose::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 5%;
  top: 4%;
  border: 3px solid black;
}
.right-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  flex: 0.5;
}
.review-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 60%;
}
.right-review {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}
@media screen and (max-width: 1630px) {
  .abs-work {
    left: 5rem;
  }
  .work-section1 {
    padding-right: 5rem;
  }
}
@media screen and (max-width: 1550px) {
  .work-section3 {
    gap: 3rem;
  }
  .review-div {
    width: 90%;
  }
  .right-choose {
    gap: 5rem;
  }
}
@media screen and (max-width: 1454px) {
  .abs-work {
    left: 2rem;
  }
  .work-section1 {
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1380px) {
  .work-section2 .splide__pagination {
    bottom: -23% !important;
  }
}

@media screen and (max-width: 1296px) {
  .abs-work {
    width: 450px;
    padding: 3rem 2rem;
    gap: 2rem;
    height: auto;
    left: 4rem;
  }
  .abs-work p {
    width: 100%;
  }
  .work-section1 {
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1236px) {
  .right-choose {
    gap: 2rem;
  }
}
@media screen and (max-width: 1137px) {
  .work-section2 .work-img-wrapper img {
    width: auto;
  }
  .work-section2 .splide {
    max-width: 100%;
  }
  .work-section2 .prev-work {
    left: 80%;
    bottom: 0;
    top: 118%;
  }
  .work-section2 .next-work {
    bottom: 0;
    top: 118%;
    right: 10%;
  }
  .work-section2 .splide__pagination {
    bottom: -25% !important;
  }
}
@media screen and (max-width: 1128px) {
  .work-section3 {
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 1rem;
  }
  .left-choose {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1130px) {
  .work-section1 {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
  }
  .abs-work {
    position: static;
    order: 1;
    width: 90%;
  }
  .work-line {
    align-self: flex-start;
  }
  .work-section1 .splider {
    order: 2;
  }
  .abs-work p {
    width: 100%;
  }
  .work-img-wrapper {
    justify-content: center;
  }
  .work-img-wrapper img {
    width: 100%;
  }
  .work-section1 {
    padding-right: 0rem;
  }

  .next-work {
    top: 96.2%;
    right: 3%;
  }
}
@media screen and (max-width: 1111px) {
  .workspace .dining-section2 {
    padding-bottom: 0rem;
  }
}
@media screen and (max-width: 940px) {
  .next-work {
    top: 96.2%;
    right: 3%;
  }
  .prev-work {
    left: 84%;
  }
}
@media screen and (max-width: 837px) {
  .work-section2 .prev-work {
    left: 75%;
    bottom: 0;
    top: 118%;
  }
  .work-section2 .next-work {
    bottom: 0;
    top: 118%;
    right: 10%;
  }
}
@media screen and (max-width: 765px) {
  .work-section3 {
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 1rem;
  }
  .left-choose {
    margin-bottom: 3rem;
  }
  .right-choose {
    gap: 5rem;
  }
  .img-wrapper-choose::after {
    left: 1%;
    top: 2%;
    border: 2px solid black;
  }
}
@media screen and (max-width: 670px) {
  .next-work {
    top: 96.2%;
    right: 3%;
  }
  .prev-work {
    left: 80%;
  }
}
@media screen and (max-width: 637px) {
  .work-section2 .prev-work {
    left: 70%;
    bottom: 0;
    top: 118%;
  }
  .work-section2 .next-work {
    bottom: 0;
    top: 118%;
    right: 10%;
  }
}
@media screen and (max-width: 500px) {
  .right-choose h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 478px) {
  .work-arrow {
    top: 92%;
  }
  .next-work {
    right: 3%;
  }
  .prev-work {
    left: 77%;
  }
  .abs-work {
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }
  .work-line {
    align-self: center;
  }
  .work-section2 .prev-work {
    left: 65%;
    bottom: 0;
    top: 118%;
  }
  .work-section2 .next-work {
    bottom: 0;
    top: 118%;
    right: 10%;
  }
}
@media screen and (max-width: 438px) {
  .work-arrow {
    top: 92%;
  }
  .next-work {
    right: 3%;
  }
  .prev-work {
    left: 74%;
  }
  .work-section2 .splide__pagination {
    bottom: -22% !important;
  }
}
@media screen and (max-width: 418px) {
  .right-choose h1 {
    font-size: 2.1rem;
  }
  .right-choose {
    gap: 3rem;
  }
  .right-review h2 {
    font-size: 1.2rem;
  }
  .right-review p {
    font-size: 1rem;
  }
}
