.living-room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
}
.living-section1 {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
}

.living-section1 .splide__pagination {
  bottom: 14% !important;
  right: 2% !important;
}
.living-section1 .splide__pagination__page.is-active {
  background: black !important;
  width: 20px !important;
  border-radius: 50% !important;
}
.living-section1 .splide__pagination__page {
  background: white !important;
  margin: 6px !important;
  opacity: 1 !important;
  height: 20px !important;
  width: 20px !important;
}
.living-section1 .abs-div-home {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}
/* section2 start -------------------------- */
.living-section2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 4rem 0rem;
  max-width: 1800px;
  margin: auto;
  flex-wrap: wrap;
}
.living-section2 a {
  text-decoration: none;
  color: black;
}
.wrapper-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 2rem 0rem;
}
.wrapper-circle img {
  max-width: 100%;
  object-fit: contain;
}
.wrapper-circle p {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
/* section2 end -------------------------- */
/* section3 start -------------------------- */
.living-section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  max-width: 1800px;
}
.left-aligned {
  align-self: flex-start;
  padding-left: 8%;
}
.living-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
}
.line-left,
.line-right {
  flex: 0.4;
  background-color: black;
  height: 2px;
}
.living-heading h1 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  flex: 0.2;
  text-align: center;
  width: max-content;
}
.cards-grid {
  padding: 2rem 0rem;
  display: grid;
  width: 90%;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  row-gap: 40px;
}

/* section3 end -------------------------- */
/* section4  -------------------------- */
.living-section4 {
  min-height: 80vh;
  width: 100%;
  position: relative;
}
.living-section4 img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.abs-living-section4 {
  position: absolute;
  left: 10%;
  top: 27%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.input-div-living {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 584px;
}
.abs-living-section4 h1 {
  color: white;
  font-size: 3rem;
}
.input-div-living h3 {
  color: white;
  font-size: 1.3rem;
}
.abs-living-section4 input {
  background-color: #dbe5db;
  height: 50px;
  font-size: 1.1rem;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}
.abs-living-section4 input:focus {
  outline: none;
}
.row-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.email-input {
  width: 100%;
}
.row-input input {
  flex: 0.5;
}
.input-div-living .explore {
  align-self: flex-end;
  width: 50%;
  padding: 20px 0px;
}
.padding-top {
  padding: 3rem 0rem;
}
/* section4 end -------------------------- */
/* responsive part ---------------------- */
@media screen and (max-width: 1476px) {
  .cards-grid {
    width: 100%;
  }
  .living-section4 {
    min-height: 100vh;
  }
}
@media screen and (max-width: 1316px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
  }
}
@media screen and (max-width: 1306px) {
  .living-section4 {
    min-height: 100%;
    background-image: url("../../../Assets-furniture/Living\ Room/register-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .living-section4 img {
    display: none;
  }
  .abs-living-section4 {
    position: static;
    align-items: center;
  }
  .input-div-living {
    align-items: center;
  }
  .input-div-living .explore {
    align-self: center;
  }
}
@media screen and (max-width: 1284px) {
  .living-section1 .splide__pagination {
    bottom: 14% !important;
    right: 0% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
@media screen and (max-width: 1170px) {
  .living-section2 {
    max-width: 1161px;
  }
}
@media screen and (max-width: 1068px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}
@media screen and (max-width: 784px) {
  .abs-living-section4 h1 {
    font-size: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 726px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 704px) {
  .living-section1 .text-div-home h2 {
    font-size: 1.3rem;
  }
  .living-section1 .text-div-home h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 678px) {
  .cards-grid {
    grid-template-columns: 1fr;
    row-gap: 3.25rem;
  }
}
@media screen and (max-width: 592px) {
  .living-section1 .text-div-home h1 {
    font-size: 2.1rem;
  }
  .living-section1 .text-div-home h2 {
    font-size: 1.1rem;
  }
  .input-div-living {
    width: 400px;
  }
  .row-input input {
    width: 100%;
  }
  .abs-living-section4 h1 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 512px) {
  .living-section1 .text-div-home h2 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .living-section1 .text-div-home h1 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 404px) {
  .living-section1 .text-div-home h1 {
    font-size: 1.5rem;
  }
  .input-div-living {
    width: 360px;
  }
}
