.acc-wrapper {
  text-decoration: none;
  color: black;
}
.home .cards-grid {
  place-items: center;
}
.home .living-section3 {
  margin-top: 5rem;
}
.home-cat {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  width: 100%;
  gap: 20px;
  max-width: 1600px;
  margin: 6rem 0rem;
  padding-inline: 20px;
}
.home-cat-div {
  width: 100%;
  position: relative;
}
.home-cat-div::after {
  content: "";
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 100%,
    #ffffff 100%
  );
  height: 152px;
  position: absolute;
}
.home-cat-div:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.home-cat-div:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.home-cat-div:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/3;
}
.home-cat-div:nth-of-type(4) {
  grid-column: 1/3;
  grid-row: 2/3;
}
.home-cat-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-cat-div .cat-text {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.home-cat-div:nth-of-type(3) .cat-text {
  bottom: 5%;
}
.cat-text h1 {
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.01389px;
}
.cat-text h1 span {
  font-weight: 400;
}
.home-cat-div:nth-of-type(4) .cat-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: auto;
  right: 2%;
  transform: none;
  gap: 10px;
  z-index: 5;
}
.home-cat-div:nth-of-type(4) .cat-text .inverse-shop {
  align-self: flex-end;
  background-color: transparent;
  border-color: black;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}
.home-cat-div:nth-of-type(4) .cat-text .inverse-shop:hover {
  background-color: black;
  color: white;
}
.sale-div {
  width: 100%;
  max-width: 1600px;
  position: relative;
  margin: 3rem 0rem;
}
.sale-img {
  width: 100%;
  object-fit: cover;
}
.sale-text {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  background: #1d1d1d70;
  height: 99.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.sale-text h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: 1.8px;
  text-transform: capitalize;
  color: #ffffff;
}
.sale-text h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 56px;
  text-transform: uppercase;
  color: #dbe5db;
}
.sale-text .inverse {
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}
.sale-text .inverse:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}
@media screen and (max-width: 1070px) {
  .sale-text h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 866px) {
  .cat-text h1 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 3.01389px;
  }
}
@media screen and (max-width: 790px) {
  .sale-text {
    width: 100%;
    position: static;
  }
  .sale-div {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../Assets-clothing/sale.webp");
    height: 300px;
  }
  .sale-div img {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .home-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-cat-div img {
    height: 300px;
    gap: 60px;
  }
}
