.modal-payment {
  max-width: 500px;
  width: 90%;
  height: 400px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  gap: 40px;
  box-shadow: 0px 0px 0px 100vmax rgba(0, 0, 0, 0.5);
  text-align: center;
}

.payment-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #dde3e8;
  width: 100%;
}
.card-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.row .method-box {
  border: none;
}
.row .method-box p {
  margin-top: -2px;
}
.card-input {
  width: 100%;
  position: relative;
}
.card-input img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 528px) {
  .payment-box br {
    display: none;
  }
  .payment-box .row {
    flex-direction: column;
  }
}
